<html lang="en">
  <head>
    <title>Contact V17</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="contact-form flex-col-c-m" style="background-image: url('images/contact_form_bg.jpg');">
        <%= form_for @contact, as: :contact, url: contacts_path do |f|  %>
          <% if @contact.errors.any? %>
            <ul>
              <% @contact.errors.full_messages.each do |message| %>
                <li class="validation-alert-text"><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        <form class="validate-form" action="<%=contacts_path%>" method="post">
          <span class="form-title"><%= t("contact_new.new.title.text") %></span>
          <div class="row">
            <label class="input-label col-md-6" for="locale"><%= t("contact_new.new.language.text") %></label>
            <ul id="ul_top_headers" class="input1 col-md-6" name="locale">
              <b><li value="en"><%= link_to 'English', root_path(locale: :en) %></li></b>
              <b><li value="es"><%= link_to 'Spanish', root_path(locale: :es) %></li></b>
            </ul>
          </div>
          <div class="form-group validate-input row">
            <label class="input-label col-md-6" for="first-name"><%= t("contact_new.new.title.first_name_text") %> *</label>
            <div class="col-md-6">
              <input id="first-name" class="input1 col-md-12" type="text" name="first_name" placeholder="<%= t("contact_new.new.title.first_name_placeholder") %>">
              <span class="validation-message validation-alert-text hide col-md-12 text-align-left"><%= t("contact_new.new.title.first_name_validate") %></span>
            </div>
          </div>
          <div class="form-group validate-input row">
            <label class="input-label col-md-6" for="last-name"><%= t("contact_new.new.title.last_name_text") %> *</label>
            <div class="col-md-6">
              <input id="last_name" class="input1 col-md-12" type="text" name="last_name" placeholder="<%= t("contact_new.new.title.last_name_placeholder") %>">
              <span class="validation-message validation-alert-text hide col-md-12 text-align-left"><%= t("contact_new.new.title.last_name_validate") %></span>
            </div>
          </div>
          <div class="form-group validate-input row">
            <label class="input-label col-md-6" for="exampleInputEmail1"><%= t("contact_new.new.email.text") %> *</label>
            <div class="col-md-6">
              <input id="email" class="input1 col-md-12" type="text" name="email" placeholder="<%= t("contact_new.new.email.placeholder") %>. example@gmail.com">
              <span class="validation-message validation-alert-text hide col-md-12 text-align-left"><%= t("contact_new.new.email.validate") %> : example@gmail.com</span>
            </div>
          </div>
          <div class="form-group validate-input row">
            <label class="input-label col-md-6" for="phone"><%= t("contact_new.new.phone_number.text") %></label>
            <div class="col-md-6">
              <input id="phone" class="input1 col-md-12" type="text" name="phone_number" placeholder="<%= t("contact_new.new.phone_number.placeholder") %>. +1 800 000000">
            </div>
          </div>
          <div class="form-group validate-input row">
            <label class="input-label col-md-6" for="message"><%= t("contact_new.new.message.text") %>  *</label>
            <div class="col-md-6">
              <textarea id="message" class="input1 col-md-12" name="message" placeholder="<%= t("contact_new.new.message.placeholder") %>"></textarea>
              <span class="validation-message validation-alert-text hide col-md-12 text-align-left"><%= t("contact_new.new.message.validate") %></span
              >
            </div>
          </div>
          <button type="submit" class="btn btn-primary"> <%= t("contact_new.new.button") %></button>
        </form>
        <hr class="contact-form-hr" />
        <div class="row p-20">
          <div class="col-md-4">
            <span class="contact-info-more"><i class="fa fa-map-marker too-icon"></i>  <%= t("contact_new.new.header1") %></span><br/>
            <span class="contact-info-more">Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US</span>
          </div>
          <div class="col-md-4">
            <span class="contact-info-more"><i class="fa fa-phone too-icon"></i>  <%= t("contact_new.new.header2") %></span><br/>
            <span class="contact-info-more">+1 800 1236879</span>
          </div>
          <div class="col-md-4">
            <span class="contact-info-more"><i class="fa fa-envelope-o too-icon"></i>  <%= t("contact_new.new.header3") %></span><br/>
            <span class="contact-info-more">contact@example.com</span>
          </div>
        </div>
      </div>
    </div>

    <!-- JQuery -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
  </body>
</html>
